*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Chunkfive;
    font-family: Arial, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: myfont;
    src: url(Chunkfive.ttf);
}

/* begin header */
.main header {
    height: 200px !important;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

/* begin navbar */
.main header #header-nav {
    height: 30% !important;
    margin: 0 !important;

}

header .navbar#color-for-nav{
    height: 60px;
    display: inline-block;
    margin-bottom: 0;
}

header #color-for-nav li {
    margin-bottom: 0px;
    position: relative;
}

header #color-for-nav  a,header #color-for-nav a.dropdown-toggle {
    float: left;
    display: block;
    color: #cc9966;
    text-align: center !important;
    line-height: 57px;
    text-decoration: none;
    padding: 0px 16px
}

header #color-for-nav .navbar-nav > li > a:hover,
header #color-for-nav .navbar-nav li .dropdown-menu > li > a:hover {
    color: #ea9138;
    text-decoration: none;
    border-bottom: 3px solid #dd760e;
} 

header #color-for-nav .navbar-nav .dropdown-menu a {
    width: 100%;
}

header #color-for-nav .dropdown-menu {
    padding: 0;
}

/* end navbar */

/* begin search bar */

header .search-bar{
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

header .search-bar input{
    float: right;
    border: none;
    text-align: left;
    font-size: 17px;
    height: 100%;
    padding-left:8px ;
    margin: 6px 0;
}

header .search-bar input:focus{
    outline: none;
}

header .search-bar .search-btn{
    float: left;
    padding: 6px 10px;
    border-radius: 10px;
    height: 32px;
}

header .search-bar .search-btn:hover {
    cursor: pointer;
}

header .search-bar i{
    font-size: 20px;
}

/* end search bar */

/* begin breakcrumbs */

header #breakcrumbs {
    height: 70%;
    background-color: #cc9966;
    position: relative;
}

header #breakcrumbs h1 {
    color: #fff;
    margin: 0;
    line-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end breakcrumbs */
/* end header */

.main main{
    margin-top: 250px;
    flex: 1;
}


/* begin post product info page */

/* begin post image */

main .container{
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

main .container .post-image{
    width: 1200px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 4px;
}

main .container  h3 {
    width: 100%;
    text-indent: 20px;
}

main .container .post-image .image-frame {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

main .container .post-image .image-frame-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .container .post-image .image-frame-detail .upload-ico {
    margin-bottom:20px ;
}

main .container .post-image .image-frame-detail .upload-ico i{
    font-size: 100px; 
    text-align: center; 
    width: 100%; 
    display: inline-block;
}

main .container .post-image .image-frame-detail h4 {
    display: inline-block;
}

main .container .post-image .image-frame-detail a {
    color: #000;
    font-size: larger;
    background-color:  rgb(25, 188, 201);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

main .container .post-image .image-frame-detail a:hover {
    background-color: rgb(20, 155, 164);
    cursor: pointer;
}
/* end post image */

/* begin post detail */

main .container .post-detail{
    width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding: 4px 0 4px;
}


main .container .post-detail .input-row {
    margin: 30px !important;
}

main .container .post-detail .input-row label{
    font-size: 18px;
    margin-bottom: 8px;
}


main .container .post-detail .input-row input:focus {
    outline: none;
}

main .container .post-detail .input-row.title input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
}

main .container .post-detail .input-row.description textarea {
    width: 100%;
    font-size: 16px;
    height: 200px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

main .container .post-detail .input-row.description textarea:focus {
    outline: none;
}
/* end post detail */
/* end post product info page */

/* begin footer */
.custom-footer{
    margin: 30px  0 0 0 !important;
    padding: 8px 0;
    z-index: 1;
}

.custom-footer .container p {
    font-size: 18px;
    margin: 8px !important;
}

.custom-footer, .custom-footer .container{
    background-color: #cc9966;
    color: #000;
}

/* doi mau searchbar bo vien input, chinh nav bar */

/* end footer */
