*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Chunkfive;
    font-family: Arial, sans-serif;
}

.main{

}

@font-face {
font-family: myfont;
src: url(Chunkfive.ttf);
}

/* begin header */
.main header {
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

/* begin navbar */
.main header #header-nav {
    height: 60px;
    margin: 0 !important;
    display: inline-block;
}  

header .navbar#color-for-nav{
    height: 60px;
    display: inline-block;
}

header #color-for-nav li {
    margin-bottom: 0px;
    position: relative;
}

header #color-for-nav  a,header #color-for-nav a.dropdown-toggle {
    float: left;
    display: block;
    color: #cc9966;
    text-align: center !important;
    line-height: 57px;
    text-decoration: none;
    padding: 0px 16px
}

header #color-for-nav .navbar-nav > li:hover > a,
header #color-for-nav .navbar-nav .dropdown-menu li:hover a {
    color: #ea9138;
    text-decoration: none;
    border-bottom: 3px solid #dd760e;
} 

header #color-for-nav .navbar-nav .dropdown-menu a {
    width: 100%;
}

header #color-for-nav .dropdown-menu {
    padding: 0;
}

/* end navbar */

/* begin search bar */

header .search-bar{
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 4px 0;
}

header .search-bar input{
    float: right;
    border: none;
    text-align: left;
    font-size: 17px;
    height: 100%;
    padding-left:8px ;
    border-radius: 10px;
}

header .search-bar input:focus{
    outline: none;
}

header .search-bar .search-btn{
    float: left;
    padding: 0 10px;
    border-radius: 10px;
}

header .search-bar .search-btn:hover {
    cursor: pointer;
}

header .search-bar i{
    margin: 0 4px 0 8px;
    font-size: 20px;
}

/* end search bar */

/* end header */

.main main {
    width: 1480px;
    margin: 70px auto 0px;
}

/* begin slideshow */

#slideshow .mySlides1 {display: none}
#slideshow .mySlides1 img {vertical-align: middle;} /*new changes*/

#slideshow .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#slideshow .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#slideshow .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#slideshow .prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* end slideshow */

/* begin season */

.main main #season-gallery {
    margin: 0 auto;
}

.main main #season-gallery .topic{
    width: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main main #season-gallery .topic .topic-row-child{
    height: 300px;
}

.main main #season-gallery .topic .topic-row-child img{
    min-width: 200px;
    min-height: 200px;
    margin: 0 10px;
    border: solid 1px #ccc;
}
.main main #season-gallery .topic .topic-row-child a,
.main main #season-gallery .topic .topic-row-child h4{
    display: block;
    margin-left: 10px;

}

/* end season */

/* begin categories row */

.main main .categories-row {
    width: 1000px;
    margin: 0 auto 50px;
}

.main main .categories-row .pics {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    position: relative !important; 
}

.main main .categories-row .pics:hover {
    overflow-x: scroll;
}

.main main .categories-row .pics::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.main main .categories-row .pics::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.main main .categories-row .pics::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;

}

.main main .categories-row img {
    width: 200px;
    height: 200px;
    margin: 0 35px 0 0;
}

.main main .categories-row .pics:hover::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

/* end categories row */