*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Chunkfive;
    font-family: Arial, sans-serif;
}

.main{

}
/* begin navbar */
@font-face {
    font-family: myfont;
    src: url(Chunkfive.ttf);
}

.main header {
    height: 200px !important;
}

.main header #header-nav {
    height: 30% !important;
    margin: 0 !important;

}

header .navbar#color-for-nav{
    /* background-color: #5c5a5a; */
    position: relative;
}

header #color-for-nav li {
    /* height: 60px !important; */
    margin-bottom: 0px;
}

header #color-for-nav  a,header #color-for-nav a.dropdown-toggle {
    float: left;
    display: block;
    color: #cc9966;
    text-align: center !important;
    line-height: 57px;
    /* padding: auto 16px; */
    /* min-height: 59px; */
    text-decoration: none;
    padding: 0px 16px
}

header #color-for-nav .navbar-nav > li:hover > a,
header #color-for-nav .navbar-nav .dropdown-menu li:hover a {
    color: #ea9138;
    text-decoration: none;
    border-bottom: 3px solid #dd760e;
} 

header #color-for-nav .navbar-nav .dropdown-menu a {
    width: 100%;
}

header #color-for-nav .dropdown-menu {
    padding: 0;
}

/* end navbar */

header #breakcrumbs {
    height: 70%;
    background-color: #cc9966;
    position: relative;
}

header #breakcrumbs h1 {
    color: #fff;
    margin: 0;
    line-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* begin product view page */

.product-container {
    display: flex;
    flex-direction: row; /* Change the flex direction to make it stack vertically */
    align-items: center; /* Center items horizontally */
    transform: translate(-150px,125px);
    margin-left: 50px;
}

.product-show {
    margin: 0px 200px 0 50px;
}

.product-show .product-title {
    position: relative;
    bottom: 80px;
}

main .container .product-image{
    padding-top: calc(700px * 0.667 / 1000);
    width: 700px; 
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; 
}

@media (max-width: 350px)  {
    main .container .product-image {
        width: 100%;
        padding-top: calc(50% * 0.667 / 1000);
    }
    .product-image img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto; 
    }
}

.seller-container{
}

.seller-container .card {
    border: none;
}

.seller-container .card .seller-image {
    position: relative;
    bottom: 200px;
    padding-top: 166.75px;
    width: 250px; 
}

.seller-container .card img {
    position: absolute;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; 
}

.contact{
    text-align: center;
    padding: 10px;
}
.contact a{
    text-decoration: none;
    color: black;
}
.seller-container .product-actions {
    margin-top: 20px;
}

.add-to-cart {
    background-color: #cc9966;
    color: white;
    margin-right: 10px;
    border-radius: 0;
    padding: 10px;
}

.buy-now {
    background-color: #ddd;
    color: black;
    border-radius: 0;
    padding: 10px;
}

/* end product view page */