*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Chunkfive;
    font-family: Arial, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: myfont;
    src: url(Chunkfive.ttf);
}

/* begin header */
.main header {
    height: 200px !important;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

/* begin navbar */
.main header #header-nav {
    height: 30% !important;
    margin: 0 !important;

}

header .navbar#color-for-nav{
    height: 60px;
    display: inline-block;
    margin-bottom: 0;
}

header #color-for-nav li {
    margin-bottom: 0px;
    position: relative;
}

header #color-for-nav  a,header #color-for-nav a.dropdown-toggle {
    float: left;
    display: block;
    color: #cc9966;
    text-align: center !important;
    line-height: 57px;
    text-decoration: none;
    padding: 0px 16px
}

header #color-for-nav .navbar-nav > li > a:hover,
header #color-for-nav .navbar-nav li .dropdown-menu li > a:hover {
    color: #ea9138;
    text-decoration: none;
    border-bottom: 3px solid #dd760e;
} 

header #color-for-nav .navbar-nav .dropdown-menu a {
    width: 100%;
}

header #color-for-nav .dropdown-menu {
    padding: 0;
}

/* end navbar */

/* begin search bar */

header .search-bar{
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

header .search-bar input{
    float: right;
    border: none;
    text-align: left;
    font-size: 17px;
    height: 100%;
    padding-left:8px ;
    margin: 6px 0;
}

header .search-bar input:focus{
    outline: none;
}

header .search-bar .search-btn{
    float: left;
    padding: 6px 10px;
    border-radius: 10px;
    height: 32px;
}

header .search-bar .search-btn:hover {
    cursor: pointer;
}

header .search-bar i{
    font-size: 20px;
}

/* end search bar */

/* begin breakcrumbs */

header #breakcrumbs {
    height: 70%;
    background-color: #cc9966;
    position: relative;
}

header #breakcrumbs h1 {
    color: #fff;
    margin: 0;
    line-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end breakcrumbs */
/* end header */

.main main{
    margin-top: 210px;
    flex: 1;
}


/* begin order page*/
main .container {
    margin-top: 50px;
}

main form {
    max-width: 600px;
    margin: 0 auto;
}

main form label {
    display: block;
    margin-bottom: 8px;
}

main form  input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

main form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;

}

main form button:hover {
    background-color: #0056b3;
}

main #shippingAddress {
    width: 600px;
    padding-left: 4px;
}
/*begin order page*/

/* begin footer */
.custom-footer{
    margin: 30px  0 0 0 !important;
    padding: 8px 0;
    z-index: 1;
}

.custom-footer .container p {
    font-size: 18px;
    margin: 8px !important;
}

.custom-footer, .custom-footer .container{
    background-color: #cc9966;
    color: #000;
}

/* doi mau searchbar bo vien input, chinh nav bar */

/* end footer */

