*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Chunkfive;
    font-family: Arial, sans-serif;
}

.main{

}
/* begin navbar */
@font-face {
font-family: myfont;
src: url(Chunkfive.ttf);
}

.main header {
    height: 200px;
}

.main header #header-nav {
    height: 30%;
    margin: 0 !important;

}

header .navbar#color-for-nav{
    /* background-color: #5c5a5a; */
    position: relative;
}

header #color-for-nav li {
    /* height: 60px !important; */
    margin-bottom: 0px;
}

header #color-for-nav  a,header #color-for-nav a.dropdown-toggle {
    float: left;
    display: block;
    color: #cc9966;
    text-align: center !important;
    line-height: 57px;
    /* padding: auto 16px; */
    /* min-height: 59px; */
    text-decoration: none;
    padding: 0px 16px
}

header #color-for-nav .navbar-nav > li:hover > a,
header #color-for-nav .navbar-nav .dropdown-menu li:hover a {
    color: #ea9138;
    text-decoration: none;
    border-bottom: 3px solid #dd760e;
} 

header #color-for-nav .navbar-nav .dropdown-menu a {
    width: 100%;
}

header #color-for-nav .dropdown-menu {
    padding: 0;
}

/* end navbar */

header #breakcrumbs {
    height: 70%;
    background-color: #cc9966;
    position: relative;
}

header #breakcrumbs h1 {
    color: #fff;
    margin: 0;
    line-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* begin order page*/
main .container {
    margin-top: 50px;
}

main form {
    max-width: 600px;
    margin: 0 auto;
}

main form label {
    display: block;
    margin-bottom: 8px;
}

main form  input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

main form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;

}

main form button:hover {
    background-color: #0056b3;
}

main #shippingAddress {
    width: 600px;
}
/*begin order page*/

